
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-cyan: hsl(158, 42%, 18%);
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
    --neutral-dark-blue: hsl(212, 21%, 14%);
    --neutral-grey-blue: hsl(228, 12%, 48%);

    --font-display:
        font-family: 'Fraunces', serif;
        font-weight: 400, 600, 800, 900;
        font-style: normal;
    ;

    --font-overline:
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 12; 
    ;
}

html {
    background-color: var(--primary-cream);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: #fff;
    display: flex;
    width: 632px;
    border-radius: 10px;
}

@media (max-width: 37.5rem) {
    .card {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}

picture img {
    height: 482px;
    padding-right: 32px;
    border-radius: 10px;
}

@media (max-width: 37.5rem) {
    picture img {
        width: 100%;
        height: auto;
        padding-right: 0;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0,));
        mask-size: cover;
    }
}

.overline {
    color: var(--neutral-grey-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 6px;
    font-size: .75rem;
    padding-top: 32px;
    padding-bottom: 20px;
}

.title {
    color: var(--neutral-dark-blue);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding-right: 32px;
}

.description {
    color: var(--neutral-grey-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .87rem;
    line-height: 24px;
    padding-top: 24px;
    padding-right: 32px;
}

.price-tags {
    display: flex;
}

ul {
    list-style: none;
    padding-top: 29px;
    gap: 19px;
}

.discount-price {
    color: var(--primary-dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 800;
}

.price {
    color: var(--neutral-grey-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .80rem;
    padding-top: 10px;
    padding-bottom: 30px;
    text-decoration: line-through;
}

.btn {
    background-color: var(--primary-dark-cyan);
    border-style: none;
    width: 236px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: .87rem;
    transition: color 1 ease;
}

.btn:hover {
    background-color: var(--primary-cyan);
    cursor: pointer;
}

.attribution {
    font-size: .68rem; 
    text-align: center;
    padding-top: 40px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
